node_modules/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage/
.env
build/
dist/
.tmp/
.DS_Store
Thumbs.db
.idea/
.vscode/
*.tgz
*.swp
*.swo
1.html
animal.html
createHtml.html