services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: volunteer_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  api:
    build: .
    restart: always
    ports:
      - "4000:4000"
    environment:
      PORT: 4000
      PGHOST: db
      PGUSER: postgres
      PGPASSWORD: 1234
      PGDATABASE: volunteer_db
      PGPORT: 5432
      NODE_ENV: development
    depends_on:
      - db

  test:
    build: .
    environment:
      PGHOST: db
      PGUSER: postgres
      PGPASSWORD: 1234
      PGDATABASE: volunteer_db
      PGPORT: 5432
      NODE_ENV: test
    depends_on:
      - db
    command: npm test

volumes:
  db_data:
