version: "3.8"

services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: volunteer_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  minio:
    image: minio/minio:latest
    container_name: minio
    restart: always
    ports:
      - "9000:9000"   # API
      - "9001:9001"   # Web-консоль
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"

  api:
    build: .
    restart: always
    ports:
      - "4000:4000"
    environment:
      PORT: 4000
      PGHOST: db
      PGUSER: postgres
      PGPASSWORD: 1234
      PGDATABASE: volunteer_db
      PGPORT: 5432
      NODE_ENV: development
      DATABASE_URL: postgres://postgres:1234@db:5432/volunteer_db

      # --- добавим MinIO ---
      MINIO_ENDPOINT: minio
      MINIO_PORT: 9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
      MINIO_BUCKET: uploads

    depends_on:
      - db
      - minio

  test:
    build: .
    environment:
      PGHOST: db
      PGUSER: postgres
      PGPASSWORD: 1234
      PGDATABASE: volunteer_db
      PGPORT: 5432
      NODE_ENV: test
      DATABASE_URL: postgres://postgres:1234@db:5432/volunteer_db
    depends_on:
      - db
    command: npm test

volumes:
  db_data:
  minio_data:
