# API Base URL
VITE_API_BASE_URL=http://172.29.8.236:4000/api

# Uploads Base URL (MinIO)
VITE_UPLOADS_BASE_URL=http://172.29.8.236:9000/uploads

# Yandex Maps API key
VITE_YANDEX_MAP_KEY=your-yandex-map-key
